/* 
Arquivo: estilo.css 
*/
nav{
	min-height: 80px;
}

td img{
	width: 25px;
	height: 25px;
}


/* ID */
#quem-somos{
	min-height: 600px;
	background-image:url('computer-768608_1280.jpg');
	background-color: #000;
}

/* Classes */
.sobreposicao{
	min-height: 600px;
	background-color:rgba(0, 0, 0, 0.7);
}